@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  margin: 0;
}

.error {
  color: white;
  font-size: 0.9rem;
  font-style: bold;
  opacity: 0.7;
  border: 1px solid gray;
  padding: 5px;
  background: red;
  border-radius: 6px;
}
